.navbar{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    border-bottom: solid var(--secondary-color) 1px;
}
#icono{
    padding: 1rem;
}
#cuadrado{
    background-color: var(--secondary-color);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: var(--border-radius);
    margin: auto;
}
.Navegacion{
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.secciones{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.menu{
    display: none;
}
.button_menu {
    background-color: transparent;
    border: 1px solid black;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    box-shadow: -0.2rem 0.2rem black;
}

@media (max-width: 480px) {
    .menu{
        display: block; 
    }
    .secciones{
        display: none;
    }
}
