/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

img, video {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  /* Colores */
  --primary-color: #FFFAEE;
  --secondary-color: #001020;
  --background-color: #FFFFFF;
  --text-color: #000000; 
  /* Tipografía */
  --font-family: 'Roboto', sans-serif;
  --font-size-base: 16px;
  --font-size-title: 2rem;
  --font-size-subtitle: 1.5rem;

  /* Espaciado */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  /* Bordes y sombras */
  --border-radius: 10%;
}
[data-theme='dark'] {
  /* Modo oscuro colores */
  --primary-color: #001020;
  --secondary-color: #FFFAEE;
  --background-color: #000000;
  --text-color: #ffffff;
}
html{font-size: 16px;}

@media (max-width: 768px) {
  html {font-size: 56.25%; }
}

@media (max-width: 480px) {
  html {font-size: 50%;}
}

body{
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}
h1 {font-size: 2.5rem;}

h2{font-size: 2rem;}

h3{font-size: 1.5rem;}

p{font-size: 0.8rem;}

li{font-size: 0.9rem;}